<!-- Header CSS Link -->
<link rel="stylesheet" href="../CSS/header.css">

<!--************************ header ************************-->
<header>

    <!--************* Logo *************-->
    <div class="logo-container">
        <!-- <img src="Img/Icons/outlined/knowledge_management_logo.png"> -->
        <img src="Img/NPC-Logo.jpeg">
    </div>

    <!--************* heading *************-->
    <h1 class="header-heading">Knowledge Management Portal</h1>

    <ul class="header_menus_container">
        <!--************* Notification *************-->
        <li class="header_menu">

            <span class="material-icons header_menu_icon notification" title="Notification">notifications</span>

            <div class="header_submenus_container notification_container custom-scrollbar scroll-hide"
                style="max-height: max-content;">

                <h6 class="notification_info">Notification (99+)</h6>
                <hr>
                <div class="text-warning notification_info">No Notifications</div>
                <ul class="header_submenu notification_list custom-scrollbar dark-scrollbar">
                    <li>Lorem ipsum. Lorem ipsum dolor.</li>
                    <li>Notification</li>
                    <li>Notification</li>
                    <li>Notification</li>
                    <li>Notification</li>
                    <li>Notification</li>
                    <li>Notification</li>
                    <li>Notification</li>
                    <li>Notification</li>
                    <li>Notification</li>
                    <li>Notification</li>
                    <li>Notification</li>
                    <li>Notification</li>
                </ul>

            </div>

        </li>

        <!--************* Apps *************-->
        <li class="header_menu">

            <span class="material-icons header_menu_icon apps" title="Apps">apps</span>

            <div class="header_submenus_container apps_container custom-scrollbar dark-scrollbar">

                <a class="header_submenu app" href="#">
                    <img src="Img/Icons/outlined/loan.png">
                    <span class="app_title">Loan portal</span>
                </a>

                <a class="header_submenu app" href="#">
                    <img src="Img/Icons/outlined/wallet.png">
                    <span class="app_title">Salary portal</span>
                </a>

                <a class="header_submenu app" href="#">
                    <img src="Img/Icons/outlined/unemployement.png">
                    <span class="app_title">Leave portal</span>
                </a>

                <!-- <a class="header_submenu app" href="#">
                    <span class="material-icons">cloud_upload</span>
                </a> -->

            </div>

        </li>

        <!--************* User Profile *************-->
        <li class="header_menu">

            <span class="material-icons header_menu_icon profile" title="Profile">account_circle</span>

            <ul class="header_submenus_container user_profile_container custom-scrollbar dark-scrollbar">

                <li class="header_submenu user_profile">
                    <a href="javascript:void(0)">
                        <img class="user_profile_avatar" src="Img/Icons/outlined/hacker_avatar.png">
                        <h4 class="user_profile_name"><span>Hello, </span>khanendra kumar</h4>
                    </a>
                </li>

                <hr>

                <li class="header_submenu user_profile"><a href=""><span
                            class="material-icons">view_agenda</span>Dashboard</a></li>
                <li class="header_submenu user_profile"><a href=""><span
                            class="material-icons">settings</span>Setting</a></li>
                <li class="header_submenu user_profile"><a href=""><span class="material-icons">edit</span>Edit
                        Profile</a></li>
                <li class="header_submenu user_profile"><a href="javascript:void(0)" id="theme_changer"><span
                            class="material-icons">light_mode</span>Theme<input type="checkbox"></a>
                </li>

                <hr>

                <li class="header_submenu user_profile"><a href=""><span
                            class="material-icons">logout</span>Logout</a></li>
            </ul>

        </li>

    </ul>

</header>