<!-- Sidenav CSS Link -->
<link rel="stylesheet" href="../CSS/sidenav.css">

<aside class="sidenav main-section custom-scrollbar scroll-hide">

    <ul>
        <li>
            <a class="sidenav_menu slide_btn" href="javascript:void(0)">☰</a>
        </li>

        <li>
            <a class="sidenav_menu" href="kmportal.html">
                <img class="sidenav_menu_icon" src="Img/Icons/home.png">
                <span class="sidemenu_text">Home</span>
            </a>
        </li>

        <li>
            <a class="sidenav_menu submenu_toggle_btn" href="javascript:void(0)">
                <img class="sidenav_menu_icon" src="Img/Icons/about_us.png">
                <span class="sidemenu_text">About Us</span>
                <span class="material-icons dropdown_icon">arrow_drop_down</span>
            </a>
            <ul class="sidenav_submenu_container">
                <li><a class="sidenav_menu sidenav_submenu" href="#">option2</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option2</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option3</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option4</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option5</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option6</a></li>
            </ul>
        </li>

        <li>
            <a class="sidenav_menu submenu_toggle_btn" href="javascript:void(0)">
                <img class="sidenav_menu_icon" src="Img/Icons/discussion_forum.png">
                <span class="sidemenu_text">Discussion Forum</span>
                <span class="material-icons dropdown_icon">arrow_drop_down</span>
            </a>
            <ul class="sidenav_submenu_container">
                <li><a class="sidenav_menu sidenav_submenu" href="#">option1</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option2</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option3</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option4</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option5</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option6</a></li>
            </ul>
        </li>

        <li>
            <a class="sidenav_menu submenu_toggle_btn" href="javascript:void(0)">
                <img class="sidenav_menu_icon" src="Img/Icons/blog.png">
                <span class="sidemenu_text">Blog</span>
                <span class="material-icons dropdown_icon">arrow_drop_down</span>
            </a>
            <ul class="sidenav_submenu_container">
                <li><a class="sidenav_menu sidenav_submenu" href="#">option1</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option2</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option3</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option4</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option5</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option6</a></li>
            </ul>
        </li>

        <li>
            <a class="sidenav_menu submenu_toggle_btn" href="javascript:void(0)">
                <img class="sidenav_menu_icon" src="Img/Icons/expert_discussion.png">
                <span class="sidemenu_text">Expert Discussion</span>
                <span class="material-icons dropdown_icon">arrow_drop_down</span>
            </a>
            <ul class="sidenav_submenu_container">
                <li><a class="sidenav_menu sidenav_submenu" href="#">option1</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option2</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option3</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option4</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option5</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option6</a></li>
            </ul>
        </li>

        <li>
            <a class="sidenav_menu" href="javascript:void(0)">
                <img class="sidenav_menu_icon" src="Img/Icons/npc_projects.png">
                <span class="sidemenu_text">NPC Projects</span>
            </a>
        </li>

        <li>
            <a class="sidenav_menu submenu_toggle_btn" href="javascript:void(0)">
                <img class="sidenav_menu_icon" src="Img/Icons/document_sharing.png">
                <span class="sidemenu_text">Document Sharing</span>
                <span class="material-icons dropdown_icon">arrow_drop_down</span></a>
            <ul class="sidenav_submenu_container">
                <li><a class="sidenav_menu sidenav_submenu" href="#">option1</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option2</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option3</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option4</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option5</a></li>
                <li><a class="sidenav_menu sidenav_submenu" href="#">option6</a></li>
            </ul>
        </li>
    </ul>

</aside>